.site-layout .site-layout-background {
    background: #fff;
    height: 100vh;
  }

.detail{
    color:black;
    /* padding-left:10px; */
    padding-top:20px;
    padding-bottom:20px;
    font-size: 13px !important;
    width: 100%;
}

.ant-card-body{
  padding: 10px !important;
}

.similar-college{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  color: cornflowerblue;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}